/* defaults */
body
{
    font-size: 16px;
    background-color: #F4DDBE;
}

body img
{
    padding-bottom: 24px;
}

#navigationBackground
{
    background-color: #9c7020;
}

/* navigation bar styling */
ol
{
    list-style-type: none;
    margin: 0;
    padding: 8;
    overflow: hidden;
    Z-Index: 100;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#floatLeft
{
    float: left;
}

li a
{
    display: Block;
    color: white;
    text-align: center;
    padding: 16px 28px;
    text-decoration: none;
}

li a:hover
{
    background-color: #F6BF51;
    color: #534D41;
}

.active
{
    background-color: #7C5013;
}

/* Sidebar navigation */
.sideNav
{
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #002266;
    overflow-x: hidden;
    padding-top: 96px;
}

.sideNav h3
{
    color: #ccddff;
    font-size: 24px;
    padding-top: 24px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 6px;
    margin-bottom: 2px;
}

.sideNav a
{
    padding: 6px 6px 6px 32px;
    font-size: 16px;
    color: #6699ff;
    display: block;
}

.rightContent
{
    margin-left: 200px; /* Must be the same width as sideNav */
    margin-right: 20%;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #F9EDDC;
}

.centerContent
{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #F9EDDC;
}

.centerAlign
{
    text-align: center;
}

.rightAlign
{
    text-align: right;
}

/* collapsible content styling */
.toggleCollapse
{
    background-color: #994d00;
    color: #ffd9b3;
    cursor: pointer;
    padding: 18px;
    width: 75%;
    position:relative;
    left: 5%;
    border-style: none none none solid;
    border-color:#ff8000;
    border-width:8px;
    text-align: left;
    outline: none;
    font-size: 24px;
}

.expanded, .toggleCollapse:hover
{
    background-color: #b35900;
}

.collapsibleContent
{
    padding: 0px;
    width: 75%;
    position:relative;
    left: 5%;
    background-color: #ffe6cc;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapsibleContent ul, .collapsibleContent li, .collapsibleContent h3
{
    list-style-type: disc;
    list-style-position: inside;
    background-color: #ffe6cc;
    position: relative;
    width: 94%;
    left: 2%;
    right: 4%;
}

.collapsibleContent p
{
    margin: 6px;
    margin-bottom: 16px;
    position: relative;
    width: 92%;
    left: 4%;
    right: 4%;
}
